.address {
  @include desktop {
    max-width: 700px;
  }

  @include laptop {
    max-width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 20px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include tablet {
      gap: 10px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    height: 50px;
    width: 100%;
    padding: 15px 10px;
    color: $color-grey;

    @include tablet {
      font-size: 12px;
      line-height: 15px;
    }

    &_btn {
      font-weight: 500;
      color: $color-secondary;
      background-color: $color-primary;
      border: none;
    }
  }

  &__label-save {
    display: flex;
    align-items: center;
    grid-column: -2;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;
    gap: 8px;

    @include tablet {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
